<div class="row top-buffer">
    <div class="col-sm-3"><b>Contact:</b></div>
    <div class="col-sm-3" id="contacts">
        <select name="contacts" class="form-control">{{contacts|raw}}</select>
    </div>
    <div class="col-sm-6">
        <input type="button" value="Add New" onclick="new_contact(this.form)" class="btn btn-primary">
    </div>
</div>