{% extends 'base.html.twig' %}
{% block header %}
    {% include('header.html.twig') %}
{% endblock %}

{% block body %}

<!-- Jumbotron Header -->
{% include('flash-messages.html.twig') %}
<form action="{{path('login')}}" method="post">
<input type="hidden" name="section" value="login">
<header class="jumbotron hero-spacer">
<div class="row top-buffer">
<div class="col-sm-12">
<h2>Login</h2>
</div>
</div>
<div class="row top-buffer">
<div class="col-sm-4">Username:</div>
<div class="col-sm-4"><input type="text" name="uuname" class="form-control"></div>
</div>
<div class="row top-buffer">
<div class="col-sm-4">Password:</div>
<div class="col-sm-4"><input type="password" name="password" class="form-control"></div>
</div>
<div class="row top-buffer">
<div class="col-sm-8">
<input type="submit" value="Login" class="btn btn-success">&nbsp;
<input type="button" value="Forgot Password" onclick="document.location.href='#'" class="btn btn-warning">
</div>
</div>

</p>
</header>
</form>

{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block footer %}
    {% include('footer.html.twig') %}
{% endblock %}